= form_for(@quiz) do |f|
  - if @quiz.errors.any?
    #error_explanation
      %h2
        = pluralize(@quiz.errors.count, "error")
        prohibited this quiz from being saved:
      %ul
        - @quiz.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .field
    = f.label :description
    %br/
    = f.text_area :description
  .actions
    = f.submit