.content
    .about_summary
        %h2 What Is It?
        SwampCrash is a multi-player trivia game where the goal is not only to guess the right answer, but to get the correct answer that no one else is getting.
    
.content
    #CurrentCrashBox.quiz_list_box
        %h2 Play Now!
        %table.striped
            %thead
                %tr
                    %th{:colspan=>2} Name
            %tbody
                - Quiz.active.each do |q|
                    %tr
                        %td= q.name
                        -# %td= arrowright_button_link_to("Play Now!!!", quiz_path(q))
    #RecentCrashBox.quiz_list_box
        %h2 Just Completed
        %table.striped
            %thead
                %tr
                    %th{:colspan=>2} Name
            %tbody
                - Quiz.completed.limit(3).each do |q|
                    %tr
                        %td= q.name
                        -# %td= arrowright_button_link_to("Who won?", quiz_path(q))
    - if user_signed_in?
        #YourAnswers.quiz_list_box
            %h2 Your Answered Crashes
            
            %table.striped
                %thead
                    %tr
                        %th{:colspan=>2} Name
                %tbody
                    - unless current_user.answered_quizzes.empty?
                        - current_user.answered_quizzes.each do |q|
                            %tr
                                %td= q.name
                                %td= arrowright_button_link_to("Your Answers", quiz_path(q))
                    - else
                        %tr
                            %td No Crashes Played Yet....
            
    - if owns_quizzes?(current_user)
        #OwnerCrashBox.quiz_list_box
            %h2 Your Authored Crashes
            %table.striped
                %thead
                    %tr
                        %th{:colspan=>2} Name
                %tbody
                    - current_user.owned_quizzes.each do |q|
                        %tr
                            %td= q.name
                            %td= edit_button_link_to("Edit", edit_quiz_path(q))