<h1>Listing quizzes</h1>
<%= table_for @quizzes do |t|
  t.column :id, :sortable=>false
  t.column :name, :sortable=>false
  t.association :owner, :first_name, :sortable=>false
  t.action do |record|
    link_to "Edit", edit_quiz_path(record)
  end
end %>
<!-- <table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Owner</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @quizzes.each do |quiz| %>
  <tr>
    <td><%= quiz.name %></td>
    <td><%= quiz.description %></td>
    <td><%= quiz.owner_id %></td>
    <td><%= link_to 'Show', quiz %></td>
    <td><%= link_to 'Edit', %></td>
    <td><%= link_to 'Destroy', quiz, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br /> -->

<%= link_to 'New Quiz', new_quiz_path %>
