<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @quiz.name %>
</p>

<p>
  <b>Description:</b>
  <%= @quiz.description %>
</p>

<p>
  <b>Quizmaster:</b>
  <%= @quiz.owner.email %>
</p>
<% @quiz.questions.each_with_index do |qq, i|%>
<div class="open_question">
	<header>
		<h3>Question <%= i + 1%></h3>
	</header>
	<section>
	<%= qq.value%>
	<input type="text" class="quiz_answer">
	</section>
	<footer><%= pluralize(qq.answers.count, "correct answer") %></footer>
</div>
<% end%>

<%= link_to_if current_user == @quiz.owner, 'Edit', edit_quiz_path(@quiz) %> |
<%= link_to 'Back', quizzes_path %>
