- unless notice.blank?
    .content
        .notice= notice

.content
    #QuizMetaBox
        %h1= @quiz.name
        %p Brought to you by #{@quiz.owner}
        .share_this <span class='st_twitter_large' ></span><span class='st_facebook_large' ></span><span class='st_yahoo_large' ></span><span class='st_gbuzz_large' ></span><span class='st_email_large' ></span><span class='st_delicious_large' ></span><span class='st_sharethis_large' ></span>

    #AboutThisCrash
        %table
            %caption About This Crash
            %tbody
                %tr
                    %td.description Rules To Play
                    %td= link_to 'Rules', content_path(:action=>'about')
                - unless @quiz.description.blank?
                    %tr
                        %td.description Details
                        %td= @quiz.description
                %tr
                    %td.description # of Questions
                    %td= @quiz.questions.count
                %tr
                    %td.description Categories
                    %td= @quiz.questions.collect(&:tags).flatten.uniq.collect( &:name).sort.join(", ")
                %tr
                    %td.description Current Participants
                    %td= AnswerSheet.where(:quiz_id=>@quiz.id).collect(&:user).collect(&:to_s).join(", ")
.content
    %hr
    
= render quiz_view_partial(@quiz)

.content
    #disqus_thread
        :javascript
            var disqus_shortname = 'swampcrash'; // required: replace example with your forum shortname
            var disqus_url = '#{request.url}';
            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
    %noscript Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
    %p <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
- content_for :footer_js do
    %script{:type=>"text/javascript"}> var switchTo5x=true;
    %script{:type=>"text/javascript", :src=>"http://w.sharethis.com/button/buttons.js"}>
    %script{:type=>"text/javascript"} stLight.options({publisher:'6578be69-23fb-4ca9-bab7-03f2915856d7'});