<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @quiz.name %>
</p>

<p>
  <b>Description:</b>
  <%= @quiz.description %>
</p>

<p>
  <b>Quizmaster:</b>
  <%= @quiz.owner.email %>
</p>
<ol>
<% @quiz.quiz_questions.each do |qq|%>
<li><%= qq.question.value%></li>
<% end%>
</ol>

<%= link_to 'Edit', edit_quiz_path(@quiz) %> |
<%= link_to 'Back', quizzes_path %>
