- content_for :title, "SwampCrash...#{@quiz.name}"
- unless notice.blank?
  .alert.alert-info= notice
.row
  .alert.alert-info
    %p Like a Royal Rumble, SwampCrash gets better the more challengers enter the ring.  Share!
    = render 'shared/share_this'

.row
  .well
    %h1= @quiz.name
    .author_acknowledgement Brought to you by #{@quiz.owner}
    - unless @quiz.description.blank?
      = raw auto_link(@quiz.description)
    %dl
      - categories = @quiz.questions.collect(&:tags).flatten.uniq.collect( &:name).sort.join(", ")
      - unless categories.blank?
        %dt Categories
        %dd= categories 
      %dt Current Participants
      %dd
        =AnswerSheet.where(:quiz_id=>@quiz.id).count
        %a.hover-popover{data: {content: user_list_for_quiz}} who?
      %dt Rules To Play
      %dd= link_to 'Rules', content_path(:action=>'about')

= render quiz_view_partial(@quiz)

%script{:type=>"text/javascript"}> var switchTo5x=true;
%script{:type=>"text/javascript", :src=>"http://w.sharethis.com/button/buttons.js"}>
%script{:type=>"text/javascript"} stLight.options({publisher:'6578be69-23fb-4ca9-bab7-03f2915856d7'});