- unless notice.blank?
    .notice= notice

.content
    %h3= @quiz.name
    %h4 Brought to you by #{@quiz.owner.email}
    = content_tag :p, @quiz.description unless @quiz.description.blank?

.content
    = form_tag answer_quiz_path, :class=>"bp" do |f|
        %fieldset#QuestionBox
            - @quiz.questions.each_with_index do |qq, i|
                = content_tag_for :p, qq do
                    %p
                        %label
                            = qq.value
                    = answer_text_field(qq)
                    .correct_answer_count= pluralize(qq.answers.count, "correct answer")
            %input{:type => "submit", :value => "Submit"}

.content
    %table
        %caption About This Crash
        %tbody
            %tr
                %td.description # of Questions
                %td= @quiz.questions.count
            %tr
                %td.description Categories
                %td= @quiz.questions.collect(&:tags).flatten.uniq.collect( &:name).sort.join(", ")
            %tr
                %td.description Current Participants
                %td= AnswerSheet.where(:quiz_id=>@quiz.id).count