= f.input :value, label: "Question", input_html: {rows: 5, class: 'span8'}
= f.input :answers_str, label: "Answers (Comma Separated)", input_html: {class: 'span8'}
= f.input :reference_url, label: "Reference URL", as: :string, input_html: {class: 'span8'}
= f.input :tag_list, label: "Tag List (Comma Separated)"
= f.button :submit, class: 'btn btn-primary'