.padded_full
    .user_login
        %h2 Email and Password
        = form_for(resource, :as => resource_name, :url => session_path(resource_name), :html=>{:class=>"bp"}) do |f|
            / %fieldset
            %p
                = f.label :email
                %br/
                = f.email_field :email
            %p
                = f.label :password
                %br/
                = f.password_field :password
            - if devise_mapping.rememberable?
                %p
                    = f.check_box :remember_me
                    = f.label :remember_me
            %p= f.submit "Sign in"
    = render :partial => "devise/shared/user_links"
.padded_full
    %h2 OR....
.padded_full
    = render :partial=>"devise/shared/third_party_links"