- unless notice.blank?
  .alert.alert-info= notice

.row
  %h2 My Info
  = simple_form_for current_user, :url=>current_user_path, html: {:class => 'form-horizontal' } do |f|
    = f.input :full_name, label: "Display Name"
    = f.input :email
    = f.button :submit, "Update Info", class: 'btn-primary'

%hr
  
.row
  %h2 Change Password
  = simple_form_for current_user, :url=>current_user_path, html: {:class => 'form-horizontal' } do |f|
    = f.input :password, label: "New Password"
    = f.input :password_confirmation
    = f.button :submit, 'Update Password', class: 'btn-primary'

%hr
.row
  %h2 Notifications
  = simple_form_for current_user, :url=>current_user_path, html: {:class => 'form-horizontal' } do |f|
    = f.input :notify_me_on_completion, label: "On Completed Crashes"
    = f.input :notify_me_on_new, label: "On New Crashes"
    = f.button :submit, "Update Notifications", class: 'btn-primary'