- unless notice.blank?
  .alert.alert-info= notice

.row
  %h1 Contact Team SwampCrash
  = simple_form_for(@contact_us, :html => {:class => 'form-horizontal' }, :url=>content_path(:action=>'contact_us')) do |f|
    = f.input :name
    = f.input :email
    = f.input :subject
    = f.input :message, as: :text, input_html: {rows: 3}
    = f.button :submit, 'Send'