<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	<title>SwampCrash...chomp</title>
	<meta name="description" content="">
	<meta name="author" content="">

  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>
  <%= hoptoad_javascript_notifier %>
</head>
<body>
	<div id="header-container">
		<header class="wrapper">
			<h1 id="title"><%= content_for(:title).blank? ? "SwampCrash" : content_for(:title)%></h1>
			<nav>
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">About</a></li>
					<%= content_tag :li, link_to('Sign In', new_user_session_path) unless user_signed_in?%>
					<%= content_tag :li, link_to('Log Out', destroy_user_session_path) if user_signed_in?%>
				</ul>
			</nav>
		</header>
	</div>
	<div id="main" class="wrapper">
		<p><%= yield %></p>	
	</div>
	<div id="footer-container">
		<footer class="wrapper">
			Copyright &copy; 2011 - 416 Software Inc.
		</footer>
	</div>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js"></script>
	<%= javascript_tag do -%> !window.jQuery && document.write(unescape('%3Cscript src="/javascripts/jquery.min.js"%3E%3C/script%3E'))<% end -%>
    <%= javascript_include_tag "rails", "application"%>
    <%= content_for :footer_js%>
  </body>
</html>
