!!! 5
%html{:lang=>"en"}
%head
    %meta{:charset=>"UTF-8"}
    %meta{:"http-equiv"=>"X-UA-Compatible", :content=>"IE=edge,chrome=1"}
    %meta{:name=>"description", :content=>""}
    %meta{:name=>"author", :content=>"Rob Di Marco, 416 Software, LLC"}
    %title SwampCrash...chomp
    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'
    /[if IE]
        = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
    = csrf_meta_tag
    = hoptoad_javascript_notifier
%body.bp
    %div{:class=>blueprint_container}
        #header
            %h1#title= content_for(:title).blank? ? "SwampCrash" : content_for(:title)
            %nav
                %ul.tabs
                    = menu_tab_link 'Home', root_path
                    = menu_tab_link 'About', content_path(:action=>'about')
                    = menu_tab_link 'TODOs', content_path(:action=>'todos')
                    - if user_signed_in?
                        = menu_tab_link('Log Out', destroy_user_session_path)
                    - else 
                        = menu_tab_link('Sign In', new_user_session_path)
        #content
            %p= yield
        %footer
            Copyright &copy; 2011 - 416 Software, LLC
        %script{:src=>"//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"}
        %script{:src=>"//ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js"}
        = javascript_tag %Q[!window.jQuery && document.write(unescape('%3Cscript src="/javascripts/jquery.min.js"%3E%3C/script%3E'))]
        = javascript_include_tag "rails", "application"
        = content_for :footer_js
